<section class="block container">
  <header class="block__header">
    <h2>Host on the cloud to keep Growing</h2>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsa,
      distinctio!
    </p>
  </header>
  <article class="grid grid--12 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images 1/sprite.svg#easy"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Super Easy to Use</h3>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic, minus.
      </p>
      <a href="#" class="link-arrow">learn More</a>
    </div>
    <picture>
      <source type="images 1/index.jpg" />
      <img class="feature__image" src="images 1/index.jpg" alt="" />
    </picture>
  </article>
</section>

<section class="block container">
  <article class="grid grid--12 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images 1/sprite.svg#easy"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Super Easy to Use</h3>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic, minus.
      </p>
      <a href="#" class="link-arrow">learn More</a>
    </div>
    <picture>
      <source type="images 1/index.jpg" />
      <img class="feature__image" src="images 1/index.jpg" alt="" />
    </picture>
  </article>
</section>
