<div class="media">
  <div class="media__image">
    <svg class="icon icon--primary">
      <use xlink:href="images/sprite.svg#wordpress"></use>
    </svg>
  </div>
  <div class="media__body">
    <h3 class="madia__title">Easy Start & Managed Updates</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur illum
      officia quis ex ab laboriosam, minus perspiciatis asperiores reprehenderit
      explicabo adipisci consectetur facere possimus animi debitis blanditiis
      quibusdam harum quisquam!
    </p>
  </div>
</div>
